.env
docs/*
src/assets/transaction_images/*
src/assets/paint_images/*
!src/assets/transaction_images/.gitkeep
!src/assets/paint_images/.gitkeep
backups/*
!backups/.gitkeep
src/assets/tool_images/*
!src/assets/tool_images/.gitkeep
src/assets/blueprint_images/*
!src/assets/blueprint_images/.gitkeep
assets/js/opencv.js